dev tun
ifconfig 10.8.0.1 10.8.0.2
secret /root/static.key
port 1194
proto udp
user nobody
group nobody
daemon
comp-lzo
keepalive 10 60
ping-timer-rem
persist-tun
persist-key
log /var/log/openvpn.log
verb 1
