# Minimal Kickstart file for the Fedora Security Lab test bench.
# Installation, not an upgrade
install

# No graphical things needed
skipx
text

# Language
lang {{ language }}

# Keyboard setup
keyboard {{ keyboard }}

# Networking
network --onboot yes --device eth0 --bootproto dhcp --ipv6 auto --hostname test-bench

# Authentication
auth --enableshadow --passalgo=sha512
rootpw {{ server_root_password }}

# Services, SELinux and firewall
firewall --enabled --ssh
services --enabled network,sshd
selinux --enforcing
#firstboot --disable
logging --level=info

# Time zone
timezone {{ timezone }}

# Disk setup
zerombr
bootloader --location=mbr --append="rd_NO_PLYMOUTH"
ignoredisk --only-use=vda
clearpart --none --initlabel --drives=vda
autopart

poweroff

%packages
@core
chrony
bash-completion
tar
unzip
python
dnf
%end
