<!DOCTYPE html>
<!-- 
This file is part of the Fedora Security Lab Test bench and distributed with 
Ansible.

Copyright (c) 2013 Fabian Affolter <fab@fedoraproject.org>

The FSL Test bench is licensed under GPLv2.
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fedora Security Lab Test bench | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Penetration testing system">
    <meta name="author" content="Joerg Simon, Fabian Affolter">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" style="margin-top: 10px;">
    <div class="panel panel-default">
        <div class="panel-body">
        <!-- Header section-->
            <img src="banner.png" class="img-responsive img-rounded">
        <!-- Navigation section-->
            <ul class="nav nav-tabs" style="margin-top: 10px;">
              <li class="">
                <a href="index.html">Home</a>
              </li>
              <li class="active">
                <a href="about.html">About</a>
              </li>
              <li class="">
                <a href="contact.html">Contact</a>
              </li>
            </ul>

        <!-- Content section-->
            <div class="alert alert-warning" style="margin-left: 50px; margin-right: 50px; margin-top: 10px;">
                To access the recources mentioned on this page a working connection to the internet is needed.
            </div>

            The <strong>Fedora Security Lab Test bench</strong> provides a save environment for security auditing and testing and can be used for teaching security testing methodologies. At the moment the focus lies on web applications. All application are running on top of a current Fedora installation with a <a href="http://www.lighttpd.net/">Lighttpd</a> webserver and a <a href="http://www.mysql.com/">MySQL</a> server.<p>
            </p>
            <h2 style="margin-left: 10px; margin-right: 10px;">Vulnerable web applications</h2>
            <ul><li><strong><a href="http://www.dvwa.co.uk/">DVWA</a></strong>: Damn Vulnerable Web App (DVWA) is a PHP/MySQL web application that is damn vulnerable. The main goals of DVWA are to be an aid for security professionals to test their skills and tools. It should help web developers to better understand the processes of securing web applications and aid teachers/students to teach/learn web application security in a class.
            </li><li><strong><a href="http://www.mmeit.be/bwapp/">bWAPP</a></strong>: Or a buggy web application is a web application build to allow security enthusiasts, students, and developers to better secure web applications. bWAPP prepares to conduct successful penetration testing and ethical hacking projects.
            </li><li><strong><a href="https://github.com/Audi-1/sqli-labs">SQLI Labs</a></strong>: A platform to learn about SQL injection (SQLI). The labs are covering a wide range of injections (Union select, blind, update query, insert query, etc.).
            </li><li><strong><a href="https://github.com/SpiderLabs/SQLol">SQLol</a></strong>:  A configurable SQL injection environment. SQLol allows to exploit SQL injection flaws, but furthermore allows a large amount of control over the manifestation of the flaw.
            </li></ul>
            <h2 style="margin-left: 10px; margin-right: 10px;">Shells</h2>
            <p style="margin-left: 10px; margin-right: 10px;">
            On a productive system <strong>shells</strong> are dangerous because they let an attacker to execute arbitrary shell-commands or browse the filesystem on your server. The shells mentioned below are included to give a taste on how shells works and how they can be detected.
            </p>
            <ul>
            <li><a href="http://phpshell.sourceforge.net/">PHP Shell</a></li>
            <li><a href="http://code.google.com/p/b374k-shell/">b374k</a></li>
            <li><a http://sourceforge.net/projects/dna-shell/">DNA Shell</a></li>
            </ul>
            <h2 style="margin-left: 10px; margin-right: 10px;">Honeypots</h2>
            <p style="margin-left: 10px; margin-right: 10px;">
            The Honeypots are intended to be targets for port scans.  
            </p>
            <ul>
            <li>Microsoft Windows XP</li>
            <li>Micrsoft Windows 2003 Server</li>
            <li>Linux 2.4.20</li>
            </ul>
            <h2 style="margin-left: 10px; margin-right: 10px;">Miscellaneous helpers</h2>
            <p style="margin-left: 10px; margin-right: 10px;">
            Beside the vulnerable web applications and the shells some additional tools are included. They facilitate the maintenance of the Test bench.
            </p>
            <ul>
           <!-- <li><a href="https://github.com/emposha/PHP-Shell-Detector">PHP Shell detector</a> - A PHP script which helps you find and identify php/cgi(perl)/asp/aspx shells.</li>-->
            <li><a href="http://linfo.sourceforge.net/">linfo</a> - A small PHP application that displays hardware details and real time health of your Test bench system.</li>
            <li><a href="http://www.phpmyadmin.net">phpmyadmin</a> - A web appplication to handle the administration of MySQL servers.</li>
            <li>CGI - Simple CGIs which displays details about this system.</li>
            </ul>

    </div>
    </div>
      <footer>
        <p class="text-center">&copy; <a href="https://fedorahosted.org/security-spin/">Fedora Security Lab</a>
        2013 - <small>Lighttpd is running on {{ ansible_distribution }} {{ ansible_distribution_version }}.</small></p>
      </footer>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
  </body>
</html>
