<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- 
This file is part of the Fedora Security Lab Test bench and distributed with 
Ansible.

Copyright (c) 2013 Fabian Affolter <fab@fedoraproject.org>

The FSL Test bench is licensed under GPLv2.
-->
<html lang="en">
<head>
    <title>Webserver is up and running...</title>
</head>
<body>
    <center>
    <h3>The webserver is running on {{ ansible_distribution }} {{ ansible_distribution_version }}.</h3>
    <p>Please replace this page as soon as possible with your content.</p>
    </center>
</body>
</html>
