127.0.0.1   {{ server_hostname }} {{ server_hostname }}.localdomain localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         {{ server_hostname }} {{ server_hostname }}.localdomain localhost localhost.localdomain localhost6 localhost6.localdomain6
