<network>
  <name>testbench</name>
  <forward mode='nat'/>
  <bridge name='{{ bridge }}' stp='on' delay='0' />
  <mac address='52:52:11:22:33:44'/>
  <ip address='{{ gw }}' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ range_start }}' end='{{ range_end }}' />
      <host mac='{{ mac }}' name='{{ server_hostname }}' ip='{{ ip }}' />
{% if containers %}
    {% for con_name, con_mac, con_ip in containers %}
      <host mac='{{ con_mac }}' name='{{ con_name }}' ip='{{ con_ip }}' />
    {% endfor %}
{% endif %}
    </dhcp>
  </ip>
</network>
