#!/usr/bin/bash
echo "Content-type: text/html"
echo ""
echo "<html><head><title>Information delivered by CGI</title></head><body>"
echo "<h1>System information for host $(hostname -s)</h1>"
echo ""
echo "<h2>CPU details</h2>"
echo "<pre>$(cat /proc/cpuinfo)</pre>"
echo "<h2>Network detail</h2>"
echo "<pre>$(ip addr)</pre>"
echo "<h2>Memory detail</h2>"
echo "<pre>$(free -m)</pre>"
echo "<h2>Disk details</h2>"
echo "<pre>$(df -h)</pre>"
echo "<h2>Logged in user</h2>"
echo "<pre>$(w)</pre>"
echo ""
echo "<center><small>&copy; <a href="https://fedorahosted.org/security-spin/">Fedora Security Lab</a> 2013 - Page generated on $(date).</small></center>"
echo "</body></html>"
